# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Logs
*.log

# AI Model Files
*.pt
*.pth
*.ckpt
*.bin
*.safetensors

# Temporary
*.tmp